.nav-item,
.nav-link {
    text-decoration: none;
    color: black;
    margin: 2px;
    display: inline-block;
    font-size: 40px;
    font-weight: 2000;
    font-family: sans-serif;
    margin-left: 0.9rem;
}

.nav-link:hover {
    color: rgb(248, 248, 244);
    transition: .3s ease;
    background: linear-gradient(to right, #333399, #ff00cc);
    border-radius: 8px;
}

.blue {
    background-color: #ff00cc;
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);
    margin-left: 0px;
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, #333399, #ff00cc);
}

.header {
    background: -webkit-linear-gradient(to right, #ace760, #2f7705);
    background-color: rgb(143, 201, 9);
    background: linear-gradient(to right, #ace760, #4b82f8);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index:99;
    
}

.header:hover {
    border-radius: 2px;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;
    height: 220vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.uni {
    margin-top: -1.5rem;
    background: linear-gradient(to right, #ace760, #056816);
    height:80px;
}


#but1{
    padding:12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:larger;
    font-weight: bolder;
    color: #ffffff;
    font-weight: 200;
    margin:0;
}
#but1:hover{
    cursor:pointer;
    font-size: 20px;
   
}
#but{
    display:none;
    transition:0.5s;
  
    
    
}
#but:hover{
    cursor:pointer;
    color: #ffffff;
}

.hoot{
    text-decoration: none;
    font-size: larger;
    color: #000000;
    font-family: sans-serif;
    transition:0.4s;
    
    position: relative;
}

.hoot:hover{
    color:#ffffff;
}
.hooter:hover{
    
    background:linear-gradient(to right, #333399, #ff00cc);
     
}
.hooter{
    width:400px;
    height:40px;
    text-decoration: none;
    bottom:0;
    border-inline: #056816 3px;
    color: #000000; 
    top:12px;
    text-align: center;
    transition:0.4s;
    background:linear-gradient(to right, #ace760, #4b82f8);
    position: relative;
   
  
}
#hover-bar{
    
    border-bottom-left-radius: 30px;
    box-shadow: #e0d7b3 5px 3px 5px;
    position:fixed;
    overflow-x: hidden;
    font-size: larger;  
    transition: 0.2s;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    margin-left: 1450px;
    top: 2px;
    background:linear-gradient(to right, #ace760, #4b82f8);
    width:400px;
    height:0;
    opacity: 2px;
    z-index: 9999999999999999999999;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

@import url('https://fonts.googleapis.com/css?family=Inconsolata|Merriweather');
$body: 'Inconsolata',
monospace;
$big: 'Merriweather',
serif;
$white: #ffffff;
$primary: #F2DAD7;
$secondary: #D1A39E;
$light: #CECDCA;
$dark: #474545;
$ease: all 0.3s ease-in-out;
button {
    cursor: pointer;
}

#portfolio {
    width: 100%;
    min-height: 330vh;
    background-color: #ff00cc;
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);
    background: linear-gradient(to right, #333399, #ff00cc);
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    margin-top: -1.8%;
}

.project {
    min-height: 60vh;
    position: relative;
    overflow: hidden;
    background: #ffffff;
}

img {
    position: absolute;
    opacity: 1;
}

p {
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 1em 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    Z-index: 3;
}

.grid_title {
    position: absolute;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    bottom: 0;
    font-weight: 900;
    font-size: 0.9em;
    z-index: 3;
    text-transform: uppercase;
    color: #ec0cec;
    background-color: rgb(205, 240, 52);
    padding: 2px;
    letter-spacing: 2px;
}

.nav-item {
    display: inline-block;
}

.project:hover .grid_overlay {
    transform: translateY(0%);
    box-shadow: 19px #070100;
}

.project:hover img {
    transform: scale(1.1);
}

.project img {
    transition: transform 2s;
}

.project:hover {
    filter: brightness(90%);
    transition: 0.3s ease-in-out;
    shadow: 2px black;
}

.grid_overlay {
    background: linear-gradient(rgba(#070100), (0.2, 0.2, 0.3));
    height: 100%;
    font-weight: 200;
    font-size: larger;
    box-shadow: 4px solid black;
    grid-row: 1 / -1;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    transform: translateY(120%);
    transition: all 0.3s ease-in-out;
}

.viewbutton {
  border-radius: 12px;
  background:whitesmoke;
  outline: none;
  font-weight: 200;
  letter-spacing: 7px;
  border: 2px solid #780303;
  color: #f4c1c1;
  text-transform: uppercase;
  padding: 11px;
}

.viewbutton:hover {
    transition: all 0.3s ease-in-out;
    background: #ffffff;
    color: #070100;
    transform: scale(1.05);
    cursor: pointer;
    font-weight: bolder;
    filter: brightness(120%);
}

.overlay {
    position: fixed;
    background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    top: 10%;
    right: 0;
    left: 0;
    display: none;
    z-index: 8;
    opacity: 1;
    filter: brightness(110%);
    overflow: inherit;
}

.overlay__inner {
    background: #ffffff;
    width: 700px;
    padding: 10px;
    position: absolute;
    opacity: 100%;
    z-index: 8;
}

.overlay.open {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 0px;
}

.close {
    position: absolute;
    top: 3px;
    right: 10px;
    background: none;
    outline: 0;
    color: #474545;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s ease;
}

.close:hover {
    color: #D1A39E
}

.project_image {
    margin-left: -20%;
}

.link {
    text-decoration: none;
    color: #070100;
}

.footer {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #ace760, #4b82f8);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 3rem;
    color: linear-gradient(rgba(232, 83, 83, 0.rgba(223, 232, 103, 0.5)0.5));
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-14px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
.social-icon{
    position: relative;
display: flex;
justify-content: center;
align-items: center;
margin: 10px 2px;
flex-wrap: wrap;
}

@media screen and (max-width:1100px) {
    .header {
        display: grid;
        grid-template-columns: auto;
        margin-left: 0rem;
        height:60px;
        background: whitesmoke;
        bottom: 2px black;
    }
    .project{
      width:100%;
      height:100vh;
      
    }
    .bar {
      display: block;
      width: 50px;
      height: 7px;
      margin: 5px 5px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #101010;
  }
    .viewbutton{
      height:80px;
      width:160px;

    }
    .project_image{
      align-items: center;
      margin-left: -80px;
    }
    .link{
      font-size: larger;
      font-weight:bolder;
      color: #780303;
    }
    .navi {
        position: fixed;
        display: inline-block;
        left: -120%;
        top: 1rem;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: auto;
        border-radius: 10px;
        text-align: center;
        align-items: center;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 9;
        opacity: 90%;
    }
    .navi.active {
        left: 0;
        transition: 0.6s ease;
    }
    #but1{
      display:none;
    }
    .nav-item {
        margin: 10px;
        margin-left: -10%;
        display: grid;
        font-size: xx-large;
        transition: 0.3s ease;
    }
    .hamburger {
        display: block;
        cursor: pointer;
        position: fixed;
        z-index: 9;
        font-weight: bolder;
        margin-left: 10px;
        height: 20px;
        width:30px;
    }
    .uni{
      align-content: center;
      background: white;
      font-style: italic;
      font-weight:lighter;
    }
    h1{
      margin-left: 150px;
    }
    #portfolio {
        width: 100%;
        min-height: 200vh;
        background: rgb(252, 250, 250);
        position: relative;
        display: grid;
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .footer {
        position: relative;
        width: 100%;
        background: linear-gradient(to right, #ace760, #4b82f8);
        min-height: 100px;
        min-width:30px;
        padding: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      
      .social-icon,
      .menu {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px ;
        flex-wrap: wrap;
      }
      
      .social-icon__item,
      .menu__item {
        list-style: none;
      }
      
      .social-icon__link {
        font-size: 2rem;
        color: linear-gradient(rgba(232, 83, 83, 0.rgba(223, 232, 103, 0.5)0.5));
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
      }
      .social-icon__link:hover {
        transform: translateY(-10px);
      }
      
      .menu__link {
        font-size: 1.2rem;
        color: #fff;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
        text-decoration: none;
        opacity: 0.75;
        font-weight: 300;
      }
      
      .menu__link:hover {
        opacity: 1;
      }
      
      .footer p {
        color: #fff;
        margin: 15px 0 10px 0;
        font-size: 0.7rem;
        font-weight: 300;
      }
      
      .wave {
        
        position: absolute;
        top: -100px;
        left: 0;
        width: 100%;
        height: 100px;
        background: url("https://i.ibb.co/wQZVxxk/wave.png");
        background-size: 1000px 100px;
      }
      
      .wave#wave1 {
        z-index: 1000;
        opacity: 1;
        bottom: 0;
        animation: animateWaves 4s linear infinite;
      }
      
      .wave#wave2 {
        z-index: 999;
        opacity: 0.5;
        bottom: 10px;
        animation: animate 4s linear infinite !important;
      }
      
      .wave#wave3 {
        z-index: 1000;
        opacity: 0.2;
        bottom: 15px;
        animation: animateWaves 3s linear infinite;
      }
      
      .wave#wave4 {
        z-index: 999;
        opacity: 0.7;
        bottom: 20px;
        animation: animate 3s linear infinite;
      }
      
      @keyframes animateWaves {
        0% {
          background-position-x: 1000px;
        }
        100% {
          background-positon-x: 0px;
        }
      }
      
      @keyframes animate {
        0% {
          background-position-x: -1000px;
        }
        100% {
          background-positon-x: 0px;
        }
      }
    .social-icon{
        position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 2px;
    flex-wrap: wrap;
    }
    
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
li {
    list-style: none;
}

.footer{
    font-size: xx-large;
    text-align: center;
}
